.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1.2em;
}

.sec-title {
    margin: 1em 0;
    text-align: center;
    font-size: 2.5em;
}

.num-icon {
    height: 50px;
    width: 40px;
    background-color: $color-green;
    color: $color-white;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
} 


@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 20;
    padding: 10;
    box-sizing: content-box;
}

html {
    width: 100%;
    justify-content: center;
    align-content: center;

}

body {  
    width: 100%;
    align-content: center;
    height: 50%;
    background-color: rgba(180, 140, 116, 0.75);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 2.3;
    color: $color-black;
}

a {
    text-decoration: underline overline rgb(221, 211, 210);
}

li {
    list-style: none;
}

img {
    max-width: 50%;
}