
/* colors */
$color-black: #292121;
$color-white: #fafafa;
$color-red: #a54364;
$color-red-hover: #e70c29;
$color-blue: #21a7c1;
$color-green: #127a54;
$color-green-hover: #2e9a73;
$color-footer: #4e4242;